<h1>Employees</h1>
<p>Welcome &ndash; You have had a total of <%= pluralize @employees.count, 'employee' %></p>

<table class="table">
  <tr>
    <th><%= link_to 'First Name', controller: 'employees', sort_field: 'first_name' %></th>
    <th><%= link_to 'Last Name', controller: 'employees', sort_field: 'last_name' %></th>
    <th><%= link_to 'Position', controller: 'employees', sort_field: 'position' %></th>
    <th><%= link_to 'Separation Date', controller: 'employees', sort_field: 'separation_date' %></th>
  </tr>
  <% @employees.each do |e| %>
  <tr>
    <td><%= e.first_name %></td>
    <td><%= e.last_name %></td>
    <td><%= e.position %></td>
    <td><%= e.separation_date %></td>
  </tr>
  <% end %>
</table>

